@import "../../style/colors.css";
@import "../../style/variables.css";

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
  flex: 1 1 0;
  border-radius: 12px;
  background: #000000;
  align-self: stretch;

}

.project-info {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 0px;
  gap: 2rem;
  color: white;
}

.title-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.project-link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-left: 0;
  color: white
}

.tags {
  display: flex;
  gap: 0.125rem;
}

@media screen and (min-width: 768px) {
  .project-card {
    padding: 1.5rem 2rem;
  }
}
