.social-media-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 8px;
  gap: 12px;
  width: 40px;
  background: #1d1d1d;
  border-radius: 7px;
  position: fixed;
  bottom: 0px;
}

.social-media-bar *:first-child {
  color: white;
}

.social-media-icon svg {
  width: 24px;
  height: auto;
  padding: 8px;
}

.social-media-bar *:not(:first-child) {
  fill: white;
}




