.projects {
  padding: 1.5rem 2.5rem 0;
  height: 352px;
}

.project-header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  width: 100%;
}

.project-title-area {
  align-self: stretch;
  margin: auto 0;
}

.mytutor {
  background-color: #e5e4ff;
}

.floriss {
  background-color: rgba(203, 172, 215, 0.9);
}

.tutor-up {
  background-color: #bce9e6;
}

@media screen and (min-width: 576px) {
  .projects {
    height: 352px;
  }

  .project-header {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .tutor-up .project-image-container {
    width: 482.5px;
  }

  .floriss .project-image-container {
    width: 473.5px;
  }
}
